*{
    margin: 0;
    padding: 0;
}

header{
  position: fixed;
  width: 100%;
  height: 100%;
    border: 1px solid gray;
    height: 215px;
    background-color: burlywood;
}

.logo img{

    margin: 5px 10px 5px 10px;
    position: relative;
}

a{
    text-decoration: none;
    color: darkseagreen;
}

header a{
    border-radius: 10px;


}

.buttonHead a{
    display: block;
    float: right;
    position: relative; right: 100px; bottom: 50px;
    border: 2px solid cadetblue;
    background-color: blanchedalmond;
    padding: 5px;
    margin: 4px;

}

/* .buttonHead{*/
/*float: right;*/
/*position: relative; right: 20px; top: 150px;*/
/*padding: 10px;*/
/*margin: 10px;*/


/*}*/

.main-content{
position: absolute;
    left: 100px;
    top: 300px;
}

.content{

}
